.boardContainer {
  position: relative;
  overflow: auto;

  width: 100%;
  height: 100%;

  & > .board {
    position: relative;
    overflow: auto;
    background: #fafafa;

    min-width: 100%;
    min-height: 100%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

  }

  & > .zoom {
    position: fixed;
    left: 28px;
    bottom: 28px;
    z-index: 9999;

    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;

    padding: 8px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    & > button {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      margin: 0 8px;
      background: #333;
      border: none;
      color: #fff;
      border-radius: 3px;
      height: 18px;
      width: 18px;
      cursor: pointer;
    }

    & > .scale {
      margin: 0 8px;
      width: 50px;
      text-align: center;
    }
  }
}