{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "standard"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "@typescript-eslint",
        "react-hooks"
    ],
    "settings": {
      "react": {
        "version": "detect"
      }
    }, 
    "rules": {
        "indent": "off",
        "quotes": ["error", "single"],
        "jsx-quotes": ["error", "prefer-single"],
        "standard/no-callback-literal": ["warn", ["cb", "callback"]],
        "@typescript-eslint/indent": ["warn", 2],
        "@typescript-eslint/camelcase": ["error", { "properties": "never" }],
        "@typescript-eslint/interface-name-prefix": ["error", { "prefixWithI": "always" }],
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/member-delimiter-style": ["error", {
            "multiline": {
                "delimiter": "none",
                "requireLast": false
            },
            "singleline": {
                "delimiter": "semi",
                "requireLast": false
            }
        }],
        "react/prop-types": ["off"],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    }
}