.topic {
    position: absolute;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    border: 2px solid #ccc;
    border-radius: 8px;
    background: #fafafa;
    color: #333;

    box-sizing: border-box;

    font-size: 16px;
}